/* Fonts */
/* Colors */
html, body {
  overflow-x: hidden; }

body {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  color: #333333; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Nunito", Helvetica, Arial, sans-serif; }

h1 {
  font-weight: normal; }

h2 {
  font-weight: normal;
  margin: 5px; }

p {
  font-weight: normal; }

/* Grid */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: realtive;
  min-height: 1px;
  margin: 0 2% 20px; }

.one-half {
  width: 46%; }

/* Media Queries */
@media (min-width: 768px) {
  .container {
    width: 750px; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 20px;
    margin: 3px; }

  p {
    font-size: 14px;
    line-height: 20px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; }

  .one-third {
    width: 29.33333%; }

  .one-fourth {
    width: 21%; }

  h1 {
    font-size: 48px; }

  h2 {
    font-size: 28px;
    margin: 5px; }

  p {
    font-size: 16px;
    line-height: 24px; } }
@media (min-width: 1280px) {
  .container {
    width: 1170px; } }
/* Header */
header {
  color: white;
  background: #333333 url("../images/hero-bg.png") top center no-repeat;
  background: url("../images/hero-bg.png") top center no-repeat, linear-gradient(-180deg, rgba(51, 51, 51, 0) 20%, rgba(51, 51, 51, 0.09) 97%);
  background-size: cover; }

header nav {
  padding: 1em 0; }

header nav ul {
  display: inline;
  float: right;
  text-align: right;
  margin: 0;
  padding: 0; }

header nav ul > li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0 0 15px;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 4px; }

@media (max-width: 600px) {
  header nav ul > li {
    margin: 0 0 0 10px;
    padding: 10px;
    font-size: 14px; } }
header nav ul > li.btn-outline {
  border-color: #F1C40F; }

header nav ul > li.btn-outline:hover {
  background: rgba(241, 196, 15, 0.7); }

header nav ul > li > a {
  color: #F1C40F;
  text-decoration: none; }

header nav ul > li.btn-outline:hover > a {
  color: #333333; }

header .hero {
  text-align: center;
  display: block;
  position: relative; }

header .hero h1 {
  margin: 40px 0 0; }

header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px; }

header .hero img {
  display: block;
  margin: 3em auto 0; }

/* Buttons */
.btn {
  border-radius: 4px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #F1C40F;
  border: 2px solid #F1C40F;
  box-shadow: 0px 3px 0px 0px #c29d0b; }
  .btn:hover {
    background: #f3cc31;
    border-color: #f3cc31; }
  .btn:active {
    background: #e3b90d;
    border-color: #e3b90d; }

/* Benefits */
.benefits {
  text-align: center;
  display: block;
  position: relative;
  background-image: linear-gradient(-180deg, #7233A1 0%, #642d8e 100%); }

.benefits ul {
  margin: 0 auto;
  padding: 4em 0; }

.benefits ul li {
  list-style-type: none;
  display: inline-block; }

.benefits i {
  color: white;
  font-size: 60px;
  margin: 0 0 20px;
  vertical-align: middle; }
.benefits h2, .benefits p {
  color: white; }
.benefits p {
  margin-top: 5px; }

@media (max-width: 991px) and (min-width: 450px) {
  .benefits i {
    width: 40%;
    float: left; }
  .benefits h2, .benefits p {
    text-align: left;
    width: 60%;
    margin-left: 40%; } }
/* Use Cases Section */
.usecases {
  padding: 5em 0;
  text-align: center;
  display: block;
  position: relative;
  background: white url("../images/usecase-bg.png") top center no-repeat;
  background-size: cover; }

.usecases h1 {
  color: #7233A1; }

.usecases .general p {
  color: #333333; }

.usecase {
  margin: 10em auto 0; }

.usecase h3, .usecase p {
  color: white; }

.buttons {
  text-align: center;
  padding: 2em 0;
  margin: 0; }

.buttons > li {
  display: inline-block;
  padding: 10px 15px;
  list-style-type: none;
  margin: 0 15px;
  border: 2px solid transparent;
  border-radius: 4px; }
  .buttons > li:hover, .buttons > li.btn-outline:hover {
    border-color: #642d8e; }

.buttons > li.btn-outline {
  border-color: #7233A1; }

.buttons > li a {
  text-decoration: none; }

/* Pricing */
.pricing {
  background: #7233A1 url("../images/pricing-bg.png") top center no-repeat;
  background: url("../images/pricing-bg.png") top center no-repeat, linear-gradient(-180deg, #7233A1 0%, #642d8e 100%);
  background-size: cover;
  text-align: center;
  padding: 4em 0; }

.pricing h2, .pricing p {
  color: white; }

.pricing ul {
  margin: 0 auto;
  padding: 2em 0; }

.pricing ul li {
  list-style-type: none; }

.box {
  padding: 0 15px 15px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 25px; }

.pricing .box {
  min-height: 439px; }

.box.middle {
  min-height: 485px;
  margin-top: 0px; }

.box h3 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: #eaeaea;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0; }

.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 20px 0 10px;
  color: #7233A1; }

.box h4 span {
  font-size: 25px;
  vertical-align: top; }

.box h4 span.month {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #333;
  font-size: 20px;
  vertical-align: middle; }

.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100; }

.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; }

.small {
  font-size: 12px;
  line-height: 15px;
  font-style: italic; }

/* Testimonials */
.testimonials {
  padding: 4em 0;
  text-align: center;
  background: #eaeaea; }
  .testimonials .container-overflow {
    overflow-x: scroll; }

.testimonials h2 {
  color: #7233A1; }

.testimonials ul {
  width: 1500px;
  padding: 0; }

.testimonials ul li {
  list-style-type: none;
  display: inline-block;
  width: 350px;
  padding: 0 10px; }

.testimonials blockquote {
  color: #333;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  position: relative;
  width: auto;
  margin: 0; }

.testimonials .box {
  height: 400px; }

.testimonials img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 20px auto 0; }

.testimonials p.name strong {
  text-align: center;
  color: #7233A1; }

/* FOOTER */
footer {
  background: #333333;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  z-index: 0; }
  footer .footer-block {
    padding-bottom: 30px; }
  footer p, footer ul {
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5;
    margin: 10px auto 0; }
  footer p.copyright-block {
    font-size: 12px;
    font-weight: bold; }
  footer .logo {
    padding: 2.35em 0 0.5em;
    display: block; }
  footer table {
    /* Social Icons */
    /* Footer Links */ }
    footer table td {
      width: 50%; }
    footer table .pull-bottom {
      vertical-align: bottom; }
    footer table .social-icons {
      font-size: 40px;
      color: #F1C40F;
      letter-spacing: 10px; }
    footer table ul {
      padding: 0; }
      footer table ul li {
        list-style-type: none;
        font-size: 12px;
        display: inline;
        border-right: 1px solid white;
        padding: 0 7px; }
        footer table ul li:last-of-type {
          padding-right: 0;
          border-right: 0; }
        footer table ul li a {
          color: white;
          text-decoration: none; }

@media (max-width: 750px) {
  img.logo {
    margin: 0 auto; }

  footer table td {
    text-align: center;
    display: block;
    width: 100%; }
    footer table td .pull-right {
      float: none; } }

/*# sourceMappingURL=style.css.map */
